/*------------------------------------------------------------------------------


Hello, this is the RTL version of the  main WordPress admin CSS file.
All the important stuff is in here.


TABLE OF CONTENTS:
------------------
 1.0 - Text Elements
 2.0 - Forms
 3.0 - Actions
 4.0 - Notifications
 5.0 - TinyMCE
 6.0 - Admin Header
	6.1 - Screen Options Tabs
 7.0 - Main Navigation
 8.0 - Layout Blocks
 9.0 - Dashboard
10.0 - List Posts
	10.1 - Inline Editing
11.0 - Write/Edit Post Screen
	11.1 - Custom Fields
	11.2 - Post Revisions
	11.3 - Featured Images
12.0 - Categories
13.0 - Tags
14.0 - Media Screen
	14.1 - Media Uploader
	14.2 - Image Editor
15.0 - Comments Screen
16.0 - Themes
	16.1 - Custom Header
	16.2 - Custom Background
	16.3 - Tabbed Admin Screen Interface
17.0 - Plugins
18.0 - Users
19.0 - Tools
20.0 - Settings
21.0 - Admin Footer
22.0 - About Pages
23.0 - Misc
24.0 - Dead
25.0 - TinyMCE tweaks
26.0 - Full Overlay w/ Sidebar
27.0 - Customize Loader


------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
  1.0 - Text Styles
------------------------------------------------------------------------------*/

ol {
	margin-left: 0;
	margin-right: 2em;
}

.code, code {
	font-family: monospace;
	direction: ltr;
}

.quicktags, .search {
	font: 12px Tahoma, Arial, sans-serif;
}

.icon32 {
	float: right;
	margin-right: 0;
	margin-left: 8px;
}

.icon16 {
	float: right;
	margin-right: -8px;
	margin-left: 0;
}

.howto {
	font-style: normal;
	font-family: Tahoma, Arial, sans-serif;
}

p.install-help {
	font-style: normal;
}


/*------------------------------------------------------------------------------
  2.0 - Forms
------------------------------------------------------------------------------*/

#doaction,
#doaction2,
#post-query-submit {
	margin-right: 0;
	margin-left: 8px;
}

#timezone_string option {
	margin-left: 0;
	margin-right: 1em;
}

#pass-strength-result {
	float: right;
	margin: 13px 1px 5px 5px;
}

p.search-box {
	float: left;
}

.search-box input[name="s"],
#search-plugins input[name="s"],
.tagsdiv .newtag {
	float: right;
	margin-right: 0;
	margin-left: 4px;
}

input[type=password] {
	direction: ltr;
}

input[type="text"].ui-autocomplete-loading {
	background: transparent url('../images/loading.gif') no-repeat left center;
}

ul#add-to-blog-users {
	margin: 0 14px 0 0;
}

.ui-autocomplete li {
	text-align: right;
}

/*------------------------------------------------------------------------------
  3.0 - Actions
------------------------------------------------------------------------------*/

#delete-action {
	float: right;
}

#publishing-action {
	float: left;
	text-align: left;
}

#publishing-action .spinner {
	float: right;
}

#post-body .misc-pub-section {
	border-right: 0;
	border-left-width: 1px;
	border-left-style: solid;
}

#post-body .misc-pub-section-last {
	border-left: 0;
}

#minor-publishing-actions {
	padding: 10px 8px 2px 10px;
	text-align: left;
}

#save-post {
	float: right;
}

.preview {
	float: left;
}

#sticky-span {
	margin-left: 0;
	margin-right: 18px;
}

.side-info ul {
	padding-left: 0;
	padding-right: 18px;
}

td.action-links,
th.action-links {
	text-align: left;
}


/*------------------------------------------------------------------------------
  4.0 - Notifications
------------------------------------------------------------------------------*/

form.upgrade .hint {
	font-style: normal;
}

#ajax-response.alignleft {
	margin-left: 0;
	margin-right: 2em;
}


/*------------------------------------------------------------------------------
  5.0 - TinyMCE
------------------------------------------------------------------------------*/

#quicktags {
	background-position: right top;
}

#ed_reply_toolbar input {
	margin: 1px 1px 1px 2px;
}

/*------------------------------------------------------------------------------
  6.0 - Admin Header
------------------------------------------------------------------------------*/
#wphead {
	height: 32px;
	margin-left: 15px;
	margin-right: 2px;
}

#header-logo {
	float: right;
}

#wphead h1 {
	float: right;
}

/*------------------------------------------------------------------------------
  6.1 - Screen Options Tabs
------------------------------------------------------------------------------*/

#screen-meta-links {
	margin-right: 0;
	margin-left: 24px;
}

#screen-meta {
	margin-right: 5px;
	margin-left: 15px;
}

#screen-options-link-wrap,
#contextual-help-link-wrap {
	float: left;
	margin-left: 0;
	margin-right: 6px;
}

#screen-meta-links a.show-settings {
	padding-right: 6px;
	padding-left: 16px;
}

.toggle-arrow {
	background-position: top right;
}
.toggle-arrow-active {
	background-position: bottom right;
}

.metabox-prefs label {
	padding-right: 0;
	padding-left: 15px;
}

.metabox-prefs label input {
	margin-right: 2px;
	margin-left: 5px;
}

/*------------------------------------------------------------------------------
  6.2 - Help Menu
------------------------------------------------------------------------------*/

#contextual-help-wrap {
	margin-left: 0;
	margin-right: -4px;
}

#contextual-help-back {
	left: 170px;
	right: 150px;
}

#contextual-help-wrap.no-sidebar #contextual-help-back {
	left: 0;
	right: 150px;

	border-right-width: 1px;
	border-left-width: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.contextual-help-tabs {
	float: right;
}

.contextual-help-tabs a {
	padding-left: 5px;
	padding-right: 12px;
}

.contextual-help-tabs .active {
	margin-right: 0;
	margin-left: -1px;
}

.contextual-help-tabs .active,
.contextual-help-tabs-wrap {
	border-left: 0;
	border-right-width: 1px;
}

.help-tab-content {
	margin-right: 0;
	margin-left: 22px;
}

.help-tab-content li {
	margin-left: 0;
	margin-right: 18px;
}

.contextual-help-sidebar {
	float: left;
	padding-right: 12px;
	padding-left: 8px;
}

/*------------------------------------------------------------------------------
  7.0 - Main Navigation (Right Menu) (RTL: Left Menu)
------------------------------------------------------------------------------*/

.folded #wpcontent {
	margin-left: 0;
	margin-right: 52px;
}

.folded.wp-admin #wpfooter {
	margin-left: 15px;
	margin-right: 52px;
}

#adminmenuback,
#adminmenuwrap {
	border-width: 0 0 0 1px;
}

#adminmenushadow {
	right: auto;
	left: 0;
}

#adminmenu li .wp-submenu {
	left: auto;
	right: 146px;
}


.folded #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu a.menu-top:focus + .wp-submenu,
.folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu  {
	left: auto;
	right: 32px;
}

#adminmenu div.wp-menu-image,
.folded #adminmenu div.wp-menu-image {
	float: right;
	width: 30px;
}

#adminmenu .wp-submenu a,
#adminmenu li li a,
.folded #adminmenu .wp-not-current-submenu li a {
	padding-left: 0;
	padding-right: 12px;
}

#adminmenu .wp-not-current-submenu li a {
	padding-left: 0;
	padding-right: 18px;
}

.wp-menu-arrow {
	right: 0;

	-moz-transform:    translate( -139px );
	-webkit-transform: translate( -139px );
	-o-transform:      translate( -139px );
	-ms-transform:     translate( -139px );
	transform:         translate( -139px );
}

.ie8 .wp-menu-arrow {
	right: -20px;
}

#adminmenu .wp-menu-arrow div {
	left: -8px;
	width: 16px;
}

#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
	-moz-transform:    translate( -138px );
	-webkit-transform: translate( -138px );
	-o-transform:      translate( -138px );
	-ms-transform:     translate( -138px );
	transform:         translate( -138px );
}

.folded #adminmenu li .wp-menu-arrow {
	-moz-transform:    translate( -26px );
	-webkit-transform: translate( -26px );
	-o-transform:      translate( -26px );
	-ms-transform:     translate( -26px );
	transform:         translate( -26px );
}

#adminmenu .wp-not-current-submenu .wp-menu-arrow div {
    border-style: solid solid none none;
    border-width: 1px 1px 0 0;
}

#adminmenu .wp-menu-image img {
	padding: 7px 7px 0 0;
}

#adminmenu .wp-submenu .wp-submenu-head {
	padding: 5px 10px 5px 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 3px;
}

.folded #adminmenu li.wp-has-current-submenu .wp-submenu {
	border-width: 1px;
	border-style: solid;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 3px;
}

#adminmenu .awaiting-mod,
#adminmenu span.update-plugins,
#sidemenu li a span.update-plugins {
	font-family: Tahoma, Arial, sans-serif;
	margin-left: 0;
	margin-right: 7px;
}

#collapse-button {
	float: right;
}

/* Auto-folding of the admin menu */
@media only screen and (max-width: 900px) {
	.auto-fold #wpcontent {
		margin-left: 0;
		margin-right: 52px;
	}

	.auto-fold.wp-admin #wpfooter {
		margin-left: 15px;
		margin-right: 52px;
	}

	.auto-fold #adminmenu div.wp-menu-image {
		float: right;
		width: 30px;
	}

	.auto-fold #adminmenu .wp-submenu.sub-open,
	.auto-fold #adminmenu .opensub .wp-submenu,
	.auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
	.auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
	.auto-fold #adminmenu a.menu-top:focus + .wp-submenu,
	.auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
	.no-js.auto-fold #adminmenu .wp-has-submenu:hover .wp-submenu  {
		left: auto;
		right: 32px;
	}

	.auto-fold #adminmenu .wp-not-current-submenu li a {
		padding-left: 0;
		padding-right: 12px;
	}

	.auto-fold #adminmenu li .wp-menu-arrow {
		-moz-transform:    translate( -27px );
		-webkit-transform: translate( -27px );
		-o-transform:      translate( -27px );
		-ms-transform:     translate( -27px );
		transform:         translate( -27px );
	}

	.auto-fold #adminmenu li.wp-has-current-submenu .wp-submenu {
		border-width: 1px;
		border-style: solid;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 3px;
		-webkit-border-top-right-radius: 0;
		-webkit-border-top-left-radius: 3px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-top-left-radius: 3px;
	}
}

/* List table styles */
.post-com-count-wrapper {
	font-family: Tahoma, Arial, sans-serif;
}

.post-com-count {
	background-image: url('../images/bubble_bg-rtl.gif');
}

.column-response .post-com-count {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}

.response-links {
	float: right;
}


/*------------------------------------------------------------------------------
  8.0 - Layout Blocks
------------------------------------------------------------------------------*/

.widefat th {
	font-family: Tahoma, Arial, sans-serif;
}

.postbox-container {
	float: right;
}

#post-body-content {
	float: right;
}

#poststuff #post-body.columns-2 {
	margin-left: 300px;
	margin-right: 0;
}

#post-body.columns-2 #postbox-container-1 {
	float: left;
	margin-left: -300px;
	margin-right: 0;
}

@media only screen and (max-width: 850px) {
	#wpbody-content #post-body.columns-2 #postbox-container-1 {
		margin-left: 0;
	}
}

.postbox .handlediv {
	float: left;
}

/*------------------------------------------------------------------------------
  9.0 - Dashboard
------------------------------------------------------------------------------*/

#the-comment-list p.comment-author img {
	float: right;
	margin-right: 0;
	margin-left: 8px;
}

/* Browser Nag */
#dashboard_browser_nag p.browser-update-nag.has-browser-icon {
	padding-right: 0;
	padding-left: 125px;
}

/* Welcome Panel */
.welcome-panel .welcome-panel-close {
	right: auto;
	left: 10px;
}

.welcome-panel .welcome-panel-close:before {
	left: auto;
	right: -12px;
}

.welcome-panel-content {
	margin-left: 0;
	margin-right: 13px;
}

.welcome-panel .welcome-panel-column {
	float: right;
}

.welcome-panel .welcome-panel-column ul {
	margin-right: 0;
	margin-left: 1em;
}

.welcome-panel .welcome-panel-column li {
	padding-left: 0;
	padding-right: 2px;
}

.welcome-panel .welcome-add-page {
	background-position: right 2px;
}

.welcome-panel .welcome-edit-page {
	background-position: right -90px;
}

.welcome-panel .welcome-learn-more {
	background-position: right -136px;
}

.welcome-panel .welcome-comments {
	background-position: right -182px;
}

.welcome-panel .welcome-view-site {
	background-position: right -274px;
}

.welcome-panel .welcome-widgets-menus {
	background-position: right -229px;
	line-height: 14px;
}

.welcome-panel .welcome-write-blog {
 	background-position: right -44px;
}

.welcome-panel .welcome-icon {
	padding: 2px 32px 8px 0;
}

@media screen and (max-width: 870px) {
	.welcome-panel .welcome-panel-column li {
		margin-right: 0;
		margin-left: 13px;
	}

	.welcome-panel .welcome-icon {
		padding-right: 25px;
		padding-left: 0;
	}
}

/*------------------------------------------------------------------------------
  10.0 - List Posts (/Pages/etc)
------------------------------------------------------------------------------*/

.fixed .column-comments {
	text-align: right;
}
.fixed .column-comments .vers {
	padding-left: 0;
	padding-right: 3px;
}
.fixed .column-comments a {
	float: right;
}
.sorting-indicator {
	margin-left: 0;
	margin-right: 7px;
}
th.sortable a span,
th.sorted a span {
	float: right;
}

/* Bulk Actions */

.tablenav-pages a {
	margin-right: 0;
	margin-left: 1px;
}
.tablenav-pages .next-page {
	margin-left: 0;
	margin-right: 2px;
}

.tablenav a.button-secondary {
	margin: 3px 0 0 8px;
}

.tablenav .tablenav-pages {
	float: left;
}

.tablenav .displaying-num {
	margin-right: 0;
	margin-left: 10px;
	font-family: Tahoma, Arial, sans-serif;
	font-style: normal;
}

.tablenav .actions {
	padding: 2px 0 0 8px;
}

.tablenav .actions select {
	float: right;
	margin-right: 0;
	margin-left: 6px;
}

.tablenav .delete {
	margin-right: 0;
	margin-left: 20px;
}

.view-switch {
	float: left;
}

.filter {
	float: right;
	margin: -5px 10px 0 0;
}

.filter .subsubsub {
	margin-left: 0;
	margin-right: -10px;
}

#posts-filter f